a {
    text-decoration: none;
    color: #d21e42;
}

body {
    color: rgba(17, 17, 17, 0.97);
    background-color: rgba(26, 187, 94, 1);
}

.card {
    border-color: #2c2c2c;
}

.card-body {
    background-color: rgba(134, 184, 136, 0.6);
}

.title {
    color: rgba(0, 123, 255, 1);
    text-align: center;
    margin-top: 5%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #181818;
}



